services:
  postgres:
    image: postgres:18-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  goose:
    build: ./migrations/
    environment:
      GOOSE_DBSTRING: ${GOOSE_DBSTRING}
    depends_on:
      postgres:
        condition: service_started
    networks:
      - app-network

  pr_service:
    build: ./
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    environment:
      SERVER_HOST: ${SERVER_HOST}
      SERVER_PORT: ${SERVER_PORT}
      SERVER_READ_TIMEOUT: ${SERVER_READ_TIMEOUT}
      SERVER_WRITE_TIMEOUT: ${SERVER_WRITE_TIMEOUT}
      SERVER_IDLE_TIMEOUT: ${SERVER_IDLE_TIMEOUT}
      SERVER_READ_HEADER_TIMEOUT: ${SERVER_READ_HEADER_TIMEOUT}
      POSTGRES_PR_CONNECTION_STRING: ${POSTGRES_PR_CONNECTION_STRING}
      DB_MAX_RETRIES: ${DB_MAX_RETRIES}
      DB_RETRY_INTERVAL: ${DB_RETRY_INTERVAL}
      LOG_LEVEL: ${LOG_LEVEL}
    depends_on:
      postgres:
        condition: service_healthy
      goose:
        condition: service_completed_successfully
    networks:
      - app-network


volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge